body {
    font-family: Arial, sans-serif;
    padding: 5px;
}

#head {
    margin-top: 10px;
    height: 70px;
    background-color: rgb(214, 243, 179);
}
div h1 {
    margin-top: 15px; 
    font-size: 1.5em;
    padding-top:5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
#menuAcordeon {
    padding:3px;
    background-color:transparent;
}
/* Botón del acordeón */
.accordion-button {
  background-color: transparent !important;
  color: rgb(15, 14, 14); /* o el color que prefieras */
  border: none;
  box-shadow: none;
}

/* Cuerpo expandido */
.accordion-collapse {
  background-color: transparent !important;
}

/* Contenido interno del cuerpo */
.accordion-body {
  background-color: transparent !important;
  color: rgb(12, 12, 12); /* o el color que prefieras */
}

/* Opcional: eliminar bordes del item */
.accordion-item {
  background-color: transparent !important;
  border: none;
}
#logoRua {
    width: 90px; 
    height: 70px;
    
}
#loginIcon {
  height: 100%;
}

#loginIcon img.login-img {
  width: 50px;
  height: auto;
}
#body-job {
    width: 1020px;
    height:550px;
    margin-top:0;
}
#formularioDatos{
    background-color: rgb(3, 87, 189);
}
