body {
    background-size:cover;
    background-color:rgb(152, 190, 231);
    font-family: Arial, sans-serif;
    padding: 5px;
}

#head {
    margin-top: 10px;
    height: 70px;
    background-color: rgb(14, 230, 216);
}
div h1 {
    margin-top: 15px; 
    font-size: 1.5em;
    padding-top:5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
#menu-principal {
    height: 50px;
    background-color: rgb(191, 213, 234);
    padding: 10px 0;
}

.horizontal-accordion li {
  display: inline-block; /* Muestra los elementos uno al lado del otro */
  margin-right: 50px; /* Espacio entre los elementos */
}

.horizontal-accordion details {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.horizontal-accordion summary {
  cursor: pointer; /* Indica que es interactivo */
}
#logoRua {
    width: 90px; 
    height: 70px;
    
}
#body-job {
    width: 1020px;
    height:550px;
    margin-top:0;
}
#formularioDatos{
    background-color: rgb(3, 87, 189);
}
